form{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 15px;
    border: rgb(190, 189, 189) solid 1px;
    border-radius: 5px;
}

input{
    width: 95%;
    padding: 5px;
}

#btn{
    width: 50%;
    font-size: 18px;
    color: white;
    background-color: green;
    border-radius: 5px;

}