#display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
#display > div{
margin-top: 20px;
box-sizing: border-box;
padding: 10px;
border: rgb(163, 163, 163) solid 1px;
border-radius: 5px;
}

img{
    width: 100%;
}
button{
    background-color: rgb(255, 173, 115);
    color:rgb(7, 7, 7);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}